<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid d-flex">
        <a class="navbar-brand " href="#">
            <strong style="color: white">SENTRY</strong>
        </a>

        <a class="navbar-brand" *ngIf="!loggedIn" style="color: white" href="#">
            Log In
        </a>
    </div>
</nav>

<div class="container mt-4">
    <button class="btn btn-primary mt-2" (click)="createBatch()">Create Batch</button>
    <hr>
    <div style="margin-top: 40px;">
        <div *ngFor="let batch of batches">
            <div class="d-flex list-group mt-1 justify-content-center" >
                <button type="button" (click)="openBatch(batch.batchNum)"
                    class="list-group-item list-group-item-action"><strong>Batch {{batch.batchNum}}</strong> <br> <span
                        style="font-size: smaller;"> Created on:
                        {{batch.createdOn}}</span></button>
                <button class="btn btn-danger" style="float: right;" (click)="deleteBatch(batch.batchNum)">Delete</button>
            </div>
        </div>
    </div>