<div class="container d-flex justify-content-center" style="margin-top: 100px">
    <div class="card shadow" style="width: 400px; height: 400px;">
        <div class="card-body">
            <div class="mb-4">
                <h1 class="mb-1 fw-bold px-5" style="padding-top: 40px ;">Sign in</h1>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label fw-bold">Password</label>
                <input type="password" id="password" class="form-control" name="password" placeholder="******"
                    [formControl]="password">
            </div>
            <div>
                <div class="d-flex justify-content-center p-4">
                    <button type="submit" style="width: 200px" class="btn btn-primary fw-bold" (click)="login()">Sign
                        in</button>
                </div>
            </div>
            <div>
                <a routerLink="/home" class="p-2 fw-bold fs-large" style="color: #0d6efd; text-decoration: none;"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                    </svg></a>
            </div>
        </div>
    </div>
</div>