.btn-wrapper {
    display: flex;
    width: 100%;
}

.btn-wrapper .btn {
    flex-grow: 1;
}

.grid { 
    border-bottom: 2px solid black;
    border-top: 2px solid black
}

.grid-child { 
    border-bottom: 1px solid black;
}

@media print {
    #printButton {
        display: none
    }
}